OPENAI_API_KEY=(sk- から始まる OpenAI API Key を入力)
MISTRAL_API_KEY=(Mistral の API KEY)
DISCORD_WEBHOOK_URL=(通知送信用の discord チャンネルの webhook url)
NOTION_KEY=(Notion API 用)
NOTION_DATABASE_ID=(論文まとめを保存したい Notion DB の ID)
